In [1]:
import sklearn

In [2]:
!python -m pip install sklearn

Requirement already satisfied: sklearn in c:\python\python36\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\python\python36\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.5.4)
Requirement already satisfied: numpy>=1.13.3 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.19.5)

WARNING: You are using pip version 21.1.2; however, version 21.1.3 is available.
You should consider upgrading via the 'C:\Python\Python36\python.exe -m pip install --upgrade pip' command.

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
import pandas as pd

In [5]:
! dir .\files\auto-mpg.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 9AEB-3250

 C:\Develops\test_machine\files 디렉터리

2021-06-29  오후 04:05            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리  398,244,220,928 바이트 남음

In [6]:
pd.read_csv('./files/auto-mpg.csv')

     18.0  8  307.0  130.0   3504.  12.0  70  1 chevrolet chevelle malibu
0    15.0  8  350.0  165.0  3693.0  11.5  70  1         buick skylark 320
1    18.0  8  318.0  150.0  3436.0  11.0  70  1        plymouth satellite
2    16.0  8  304.0  150.0  3433.0  12.0  70  1             amc rebel sst
3    17.0  8  302.0  140.0  3449.0  10.5  70  1               ford torino
4    15.0  8  429.0  198.0  4341.0  10.0  70  1          ford galaxie 500
..    ... ..    ...    ...     ...   ...  .. ..                       ...
392  27.0  4  140.0  86.00  2790.0  15.6  82  1           ford mustang gl
393  44.0  4   97.0  52.00  2130.0  24.6  82  2                 vw pickup
394  32.0  4  135.0  84.00  2295.0  11.6  82  1             dodge rampage
395  28.0  4  120.0  79.00  2625.0  18.6  82  1               ford ranger
396  31.0  4  119.0  82.00  2720.0  19.4  82  1                chevy s-10

[397 rows x 9 columns]

In [7]:
pd_data = pd.read_csv('./files/auto-mpg.csv' , header = None)
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [8]:
pd_data.shape

(398, 9)

In [9]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [11]:
x = pd_data[['weight']]

In [12]:
y = pd_data[['mpg']]

In [13]:
x.shape , y.shape

((398, 1), (398, 1))

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((298, 1), (100, 1), (298, 1), (100, 1))

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
lr = LinearRegression()

In [ ]:
# lr. fit(x,y)
lr.fir(X)

In [ ]:
x=pd.DataFrame(data,columns=['subject','score',])