In [1]:
import  sklearn

In [2]:
import pandas as pd

In [3]:
!dir .\files\advertising.xls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 9AEB-3250

 C:\Develops\test_machine\files 디렉터리

2021-07-01  오후 02:24           233,472 advertising.xls
               1개 파일             233,472 바이트
               0개 디렉터리  406,107,779,072 바이트 남음

In [14]:
pd_data=pd.read_excel('./files/advertising.xls')
pd_data.info(),pd_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   datetime64[ns]
 9   Clicked on Ad             1000 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 78.2+ KB

(None, (1000, 10))

In [15]:
X=pd_data[['Age','Male']]
X

     Age  Male
0     35     0
1     31     1
2     26     0
3     29     1
4     35     0
..   ...   ...
995   30     1
996   45     1
997   51     1
998   19     0
999   26     0

[1000 rows x 2 columns]

In [18]:
Y=pd_data[['Clicked on Ad']]
Y

     Clicked on Ad
0                0
1                0
2                0
3                0
4                0
..             ...
995              1
996              1
997              1
998              0
999              1

[1000 rows x 1 columns]

In [19]:
X.shape,Y.shape

((1000, 2), (1000, 1))

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test,Y_train, Y_test =train_test_split(X,Y)
X_train.shape, X_test.shape,Y_train.shape, Y_test.shape

((750, 2), (250, 2), (750, 1), (250, 1))

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
log = LogisticRegression()

In [27]:
log.fit(X_train,Y_train)

c:\python\python36\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [28]:
log.coef_

array([[ 0.13735434, -0.0658073 ]])

In [29]:
log.intercept_

array([-4.92124568])

In [30]:
log.predict_proba(X_train[0:4])

array([[0.67460083, 0.32539917],
       [0.77077255, 0.22922745],
       [0.29992889, 0.70007111],
       [0.49412266, 0.50587734]])

In [31]:
log.predict(X_train[0:4])

array([0, 0, 1, 1], dtype=int64)

In [32]:
from sklearn import metrics

In [33]:
Y_pred=log.predict(X_train)
Y_pred.shape, Y_train.shape

((750,), (750, 1))

In [34]:
print(metrics.classification_report(Y_train, Y_pred))

              precision    recall  f1-score   support

           0       0.71      0.76      0.73       380
           1       0.73      0.68      0.70       370

    accuracy                           0.72       750
   macro avg       0.72      0.72      0.72       750
weighted avg       0.72      0.72      0.72       750

In [35]:
metrics.confusion_matrix(Y_train, Y_pred)

array([[287,  93],
       [120, 250]], dtype=int64)

In [37]:
import pickle

In [ ]:
pickle.dump(favorite, open('./saves/6일차_adv_save.pkl','wb'))

In [ ]:
pickle.load(open('./saves/ws0701_adv_save.pkl','rb'))