<a href="https://colab.research.google.com/github/junanote/test_machine/blob/master/210702_7%EC%9D%BC%EC%B0%A8_5_wholesale_Decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
!ls

sample_data  Wholesale_customers_data.csv  wholesale.xls

In [65]:
!ls -l

total 68
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 04:46 Wholesale_customers_data.csv
-rw-r--r-- 1 root root 46592 Jul  2 06:16 wholesale.xls

In [66]:
!pwd

/content

In [67]:
!ls -l ./sample_data

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

In [68]:
!ls -l ./

total 68
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 04:46 Wholesale_customers_data.csv
-rw-r--r-- 1 root root 46592 Jul  2 06:16 wholesale.xls

In [69]:
import pandas as pd
df = pd.read_csv('./Wholesale_customers_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

In [83]:
import pandas as pd
df = pd.read_excel('./wholesale.xls')
df

     Unnamed: 0  Channel  Region  ...  Detergents_Paper  Delicassen  label
0             0        2       3  ...              2674        1338      0
1             1        2       3  ...              3293        1776      0
2             2        2       3  ...              3516        7844      0
3             3        1       3  ...               507        1788      1
4             4        2       3  ...              1777        5185      0
..          ...      ...     ...  ...               ...         ...    ...
435         435        1       3  ...               182        2204      1
436         436        1       3  ...                93        2346      1
437         437        2       3  ...             14841        1867      0
438         438        1       3  ...               168        2125      1
439         439        1       3  ...               477          52      1

[440 rows x 10 columns]

In [87]:
Y = df['label']
X = df.iloc[:,1:9]
Y.shape, X.shape

((440,), (440, 8))

In [89]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [90]:
dtree.score(X,Y)

1.0